<div class="stagger-wrapper" [@stagooo]="stagooo" (@stagooo.done)="restartStagooo()">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>

<div class="keyframes-wrapper" [@keyframooo]="keyframooo" (@keyframooo.done)="restartKeyframooo()">
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>

<div class="wrapper" @fooo>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
