.item:nth-child(1) {
  background-color: #794c74;
}
.item:nth-child(2) {
  background-color: #c56183;
}
.item:nth-child(3) {
  background-color: #fadcaa;
}
.item:nth-child(4) {
  background-color: #b2deec;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .item {
  width: 20vh;
  height: 20vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: Roboto;
  opacity: 0;
}

.stagger-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stagger-wrapper .item {
  width: 25vw;
  height: 1vh;
  opacity: 0;
}

.keyframes-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyframes-wrapper .item {
  width: 25vw;
  height: 2vh;
  transform-origin: center bottom;
}
