.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 20vh;
  height: 20vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: Roboto;
  opacity: 0;
}

.item:nth-child(1) {
  background-color: #794c74;
}
.item:nth-child(2) {
  background-color: #c56183;
}
.item:nth-child(3) {
  background-color: #fadcaa;
}
.item:nth-child(4) {
  background-color: #b2deec;
}
