/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  background: rgb(31, 31, 31);
  font-family: Roboto;
}

.item:nth-child(1) {
  background-color: #794c74;
}
.item:nth-child(2) {
  background-color: #c56183;
}
.item:nth-child(3) {
  background-color: #fadcaa;
}
.item:nth-child(4) {
  background-color: #b2deec;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  padding: 16px 32px;
  user-select: none;
  text-decoration: none;
  color: rgb(219, 219, 219);
  font-size: 20px;
  transition: all 300ms linear;
}

nav a.active {
  color: #c56183;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .item {
  width: 20vh;
  height: 20vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: Roboto;
  opacity: 0;
}

.stagger-wrapper {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stagger-wrapper .item {
  width: 25%;
  height: 1vh;
  opacity: 0;
}

.keyframes-wrapper {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyframes-wrapper .item {
  width: 25%;
  height: 2vh;
  transform-origin: center bottom;
}

.control-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-wrapper .item {
  width: 20vh;
  height: 20vh;
}

.control-wrapper input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
